// Font
$main-font-family: 'Open Sans', sans-serif;

// Colors
$color-blue: #2196f3;
$color-blue-hover: #1F79C1;
$color-lightblue: #f1fcff;
$color-blue-border: #9abbce;
$color-light-border: #dfe5ec;
$color-white: #fff;
$color-black: #211c1c;
$color-dark-text: #4a4a4a;
$color-light-text: #a0b0b9;
$color-light-background: #f5f5f5;

// Sadows
$box-shadow: 0 2px 4px #0000001a;
