@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
}

body{  
  background-color: $color-light-background;
  font-family: $main-font-family;

  .container {
    .main-content {
        max-width: 774px;
        margin: 0 auto;
        display: flex;
        gap: 40px;        
    }    
  }

  @media (width <= 768px) {
    .container .main-content {
      flex-direction: column;
      max-width: 502px;    
    }         
  }
}