.header {
  padding: 50px;
  text-align: center;

  @media (width <= 426px) {
    padding: 30px;
  }

  &__logo {
    cursor: pointer;
    transition: box-shadow 0.3s;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 58px;
      height: 58px;
      border-radius: 50%;
      background-color: transparent;
      left: 12px;
      top: -64px;
    }

    &:hover::after {
      box-shadow: 5px 4px 10px #0003;
    }
  }
}
