@import './variables';

.ticket {
  background-color: $color-white;
  border-radius: 5px;
  padding: 20px 25px 20px 20px;
  box-shadow: $box-shadow;
  display: grid;
  grid-auto-flow: row dense;
  gap: 10px 20px;

  @media (width <= 768px) {
    width: 100%;
  }

  @media (width <= 426px) {
    border-radius: 0;
  }

  &__price {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: $color-blue;
    grid-area: price;
  }

  &__logo {
    grid-area: logo;
    height: 100%;
    display: flex;
    justify-content: end;

    img {
      width: 119px;
      object-fit: cover;
    }
  }

  &__route {
    grid-area: route;
  }

  &__duration {
    grid-area: duration;
  }

  &__transfers {
    grid-area: transfers;
  }

  &__return-route {
    grid-area: returnRoute;
  }

  &__return-duration {
    grid-area: returnDuration;
  }

  &__return-transfers {
    grid-area: returnTransfers;
  }

  &__price,
  &__logo,
  &__route,
  &__duration,
  &__transfers,
  &__return-route,
  &__return-duration,
  &__return-transfers {
    width: 141px;

    @media (width <= 768px) {
      width: initial;
    }

    &-label {
      color: $color-light-text;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.5px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-value {
      color: $color-dark-text;
      font-size: 14px;
      line-height: 21px;
      font-weight: 700;
    }

    @media (width <= 426px) {
      &-label,
      &-value {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  grid-template:
    'price . logo' 46px
    'route duration transfers' 1fr
    'returnRoute returnDuration returnTransfers' 1fr;
}
